.view-associatif{
	h1{
		font-size: 3rem;
	}	
	h3{
		font-size: 2rem;
	}
	p{
		font-size: 1.5rem;
		line-height: 1.6;
	}
	a {
		font-style: italic;
		font-weight: bold;
		color: $color-black;
		text-decoration: underline;
	}
}